# Created by .ignore support plugin (hsz.mobi)
.idea/vcs.xml
IflideCrawler/src/main/resources/static/
IflideCrawler/src/main/resources/templates/
NodeCrawler/data/
data/
MasterCrawler/.gitignore
MasterCrawler/.mvn/
MasterCrawler/mvnw
MasterCrawler/mvnw.cmd
MasterCrawler/pom.xml
MasterCrawler/src/
